[MASTER]
load-plugins=pylint_casthi
score=n

[MESSAGES CONTROL]
enable=casthilint,pointless-statement,trailing-newlines
disable=all

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no